<a href="objects/{{objectid}}/roles/{{roleid}}">
	<div class="element">
		<span class="field square">{{svg icon}}</span>
		<span class="field">{{name}}</span>
		<span class="field square">{{svg "arrow-right"}}</span>
	</div>
</a>